<!doctype html>
<html ng-app="plugin.tab">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="dist/css/patternfly.min.css">
    <link rel="stylesheet" href="css/customstyle.css">

</head>
<body ng-controller="translationController">

   <!-- <div class="navbar-tab" id="menu" ng-controller="menuController">
      <button class="btn btn-primary" type="button" ng-click="openAddDialog()">
          <span class="glyphicon glyphicon-plus"></span> {{trans.BTN_ADD_LABEL}}
      </button>
      <button class="btn btn-default" type="button" ng-click="refreshDomainsFromBtn()" ng-disabled="isAnimated">
          <span class="glyphicon glyphicon-refresh" ng-class="{'icon-refresh-animate': isAnimated}"></span> {{trans.BTN_REFRESH_LABEL}}
      </button>

      <div class="media" id="processing-status" ng-show="isReqProcessing">
        <div class="pull-left spinner-container">
          <div class="spinner spinner-sm"></div>
        </div>
        <div class="media-body">
          <div class="processing-descr">{{trans.PROCESSING}}</div>
        </div>
      </div>
   </div> -->

   <div id="menu" ng-controller="menuController">

      <button class="btn btn-primary" type="button" ng-click="openAddDialog()">
          <span class="glyphicon glyphicon-plus"></span> {{trans.BTN_ADD_LABEL}}
      </button>



      <button class="btn btn-default" type="button" ng-click="refreshDomainsFromBtn()" ng-disabled="isAnimated">
          <span class="glyphicon glyphicon-refresh" ng-class="{'icon-refresh-animate': isAnimated}"></span> {{trans.BTN_REFRESH_LABEL}}
      </button>


      <div class="media" id="processing-status" ng-show="isReqProcessing">
        <div class="pull-left spinner-container">
          <div class="spinner spinner-sm"></div>
        </div>
        <div class="media-body">
          <div class="processing-descr">处理...</div>
        </div>
      </div>
   </div>

  <div class="container" id="alert" ng-controller="alertController">
    <div class="alert {{alert.type}}" ng-bind-html="alert.content | unsafe">
    </div>
  </div>

    <div class= "table-container" id="domainTable" ng-controller="TableController as table">
      <table class="table table-striped table-bordered table-hover">
         <thead>
            <tr>
               <th>{{trans.TABLE_DOMAIN_LABEL}}</th>
               <th>{{trans.TABLE_USERNAME_LABEL}}</th>
               <th>{{trans.TABLE_ACTIONS_LABEL}}</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="domain in domains track by $index">
               <td class="text-cell">{{ domain.domain }}</td>
               <td class="text-cell">{{ domain.username }}</td>
               <td>
                  <div class="action-table" ng-controller="menuController">
                    <button class="btn btn-default" type="button" ng-click="openEditDialog($parent.domain)">
                       <span class="glyphicon glyphicon-pencil"></span> {{trans.TABLE_BTN_EDIT_LABEL}}
                    </button>
                    <button class="btn btn-danger" type="button" ng-click="deleteAlert($parent.domain)">
                       <span class="glyphicon glyphicon-trash"></span> {{trans.TABLE_BTN_REMOVE_LABEL}}
                    </button>
                  </div>
               </td>
            </tr>

         </tbody>
      </table>
      <div ng-hide="domains.length" class="nothing-to-display">
        {{trans.TABLE_NO_DOMAINS}}
      </div>
    </div>



    <script src="lib/jquery-1.11.1.min.js"></script>
    <script src="lib/angular/js/angular.js"></script>
    <script src="js/common.js"></script>
    <script src="js/ajax.js"></script>
    <script src="js/tab.js"></script>
    <script src="js/translations.js"></script>
</body>
</html>
