.navbar-tab {
   margin: 5px;
}

.navbar-tab>.btn {
   margin-right: 5px;
}


/*--------------------Forms--------------------*/
.form-horizontal {
   padding-top: 5px;
}

.form-group {
   padding-left: 30px;
   padding-right: 30px;
   margin-bottom: 0px;
   padding-top: 15px;
}

.form-group.highlight {
   background-color: #82aa32;
   color: #fff;
   padding-bottom:3px;
}

.form-group.highlight .help-block {
   color: #fff;
}

.form-group .input-group-addon {
   color: #737373;
}

.form-group .input-group-addon input[type="checkbox"] {
   margin-top: 2px;
}

.form-group .checkbox-selection {
   color: #737373;
   font-weight: normal;
}

a.collapse-button {
   color: #333;
   font-weight: 600;
   padding-left: 10px;
}

a.collapse-button:hover {
   color: #333;
   text-decoration: none;
   font-weight: 600;

}
