.navbar-tab {
   margin: 5px;
}

.navbar-tab>.btn {
   margin-right: 5px;
}

.container {
   margin-right: 0px;
   margin-left: 0px;
   width: 100%;
}

/*--------------------Table--------------------*/

.table>tbody>tr>.text-cell {
  padding-top: 5px;
}

.nothing-to-display{
  text-align: center;
  color: #969696;
  font-size: 16px ;
}

/*--------------------Forms--------------------*/
.table-container {
  margin-top: 5px;
}

.form-horizontal {
   padding-top: 5px;
}

.form-group {
   padding-left: 30px;
   padding-right: 30px;
   margin-bottom: 0px;
   padding-top: 15px;
}

.form-group.highlight {
   background-color: #82aa32;
   color: #fff;
   padding-bottom:3px;
}

.form-group.highlight .help-block {
   color: #fff;
   padding-left:20px;
   padding-right:20px;
}

.help-block-form-control {
   color: #737373;
   padding-left:20px;
   padding-right:20px;
}

.form-group .input-group-addon {
   color: #737373;
}

.form-group .input-group-addon input[type="checkbox"] {
   margin-top: 2px;
}

.form-group .checkbox-selection {
   color: #737373;
   font-weight: normal;
}

a.collapse-button {
   color: #333;
   font-weight: 600;
   padding-left: 10px;
}

a.collapse-button:hover {
   color: #333;
   text-decoration: none;
   font-weight: 600;

}

/*--------------------Small Dialogs & Alerts--------------------*/

.container>.alert {
  margin-top: 20px;
}

#info-container {
  margin-top: 20px;
}

/*--------------------Menu--------------------*/

#menu {
  padding: 5px;
  display: inline-flex;
}

#menu .media {
  display: inline-block;
}

#menu .btn {
  margin-right: 5px;
}

#processing-status {
  margin: 0px;
  color: #969696;
  font-weight: 600;
}

#processing-status>.spinner-container {
  margin-top: 4px;
  margin-right: 5px;
}

#processing-status>.media-body {
  padding-top: 1px;
}

/*--------------------Animation Refresh Button--------------------*/

.icon-refresh-animate {
  -moz-animation-name: rotateThis;
  -moz-animation-duration: .5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -webkit-animation-name: rotateThis;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-moz-keyframes rotateThis {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}

@-webkit-keyframes rotateThis {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}

/*--------------------Dialog Processing...--------------------*/

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.processing-descr {
  margin-top: 2px;
  margin-bottom: 2px;
}
