.navbar-tab {
   margin: 5px;
}

.navbar-tab>.btn {
   margin-right: 5px;
}

.container {
   margin-right: 0px;
   margin-left: 0px;
   width: 100%;
}


/*--------------------Forms--------------------*/
.form-horizontal {
   padding-top: 5px;
}

.form-group {
   padding-left: 30px;
   padding-right: 30px;
   margin-bottom: 0px;
   padding-top: 15px;
}

.form-group.highlight {
   background-color: #82aa32;
   color: #fff;
   padding-bottom:3px;
}

.form-group.highlight .help-block {
   color: #fff;
   padding-left:20px;
   padding-right:20px;
}

.help-block-form-control {
   color: #737373;
   padding-left:20px;
   padding-right:20px;
}

.form-group .input-group-addon {
   color: #737373;
}

.form-group .input-group-addon input[type="checkbox"] {
   margin-top: 2px;
}

.form-group .checkbox-selection {
   color: #737373;
   font-weight: normal;
}

a.collapse-button {
   color: #333;
   font-weight: 600;
   padding-left: 10px;
}

a.collapse-button:hover {
   color: #333;
   text-decoration: none;
   font-weight: 600;

}

/*--------------------Small Dialog--------------------*/

.container>.alert {
  margin-top: 20px;
}

/*--------------------Animation Refresh Button--------------------*/

.icon-refresh-animate {
  animation-name: rotateThis;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes "rotateThis" {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}
